<div class="minHeight">
<div class="fullPage">
<div class="pageContent">
<div class="pageContentInner popupContentInner">
<!--Beginning main page content-->
<h1 class="popupFormHeading">Modify Patron Information</h1>
<div id="accessibleForm" class="form1Part">
<!--{formbegin}-->
<fieldset>
<legend>
<!--{newpinfo}-->
</legend>

<!--
<div class="formEntryArea">
<label for="name"><span class="formLabel">
Alias/Nickname:
</span>
-->
 <!--{user_name}-->
 <!--
</label>
</div>
-->

<div class="formEntryArea">
<span class="formLabel">
<!--{addr1prompt}-->
</span>
<!--{addr1a}-->

</div>

<div class="formEntryArea">
<span class="formLabel"><label for="addr1c">
State
</label></span>
<!--{addr1c}-->

</div>

<div class="formEntryArea">
<span class="formLabel"><label for="addr1d">
ZIP Code
</label></span>
<!--{addr1d}-->

</div>

<div class="formEntryArea">
<span class="formLabel">
<!--{emailprompt}-->
</span>
<!--{email}-->
</div>

<div class="formEntryArea">
<!--{notices}-->
</div>

<div class="formButtonArea">
<!--{submit}-->
<!--{cancel}-->
</div>
</fieldset>
<!--{formend}-->
</div><!-- accessibleForm -->
</div><!-- popupContentInner -->
</div><!-- pageContent -->
</div><!-- fullPage -->
</div>
