<div class="minHeight">
<div class="fullPage">
<div class="pageContent">
<div class="pageContentInner popupContentInner">
<!--Beginning main page content-->
<h1 class="popupFormHeading">Create a Patron Identification Number (PIN)</h1>

<!--{iferrmsg}-->
<div class="errormessage">
<!--{errmsg}-->
</div>
<!--{xif}-->

<form target="_self" method="post" id="accessibleForm" class="form1Part">

<!--Optionally you can display pininstructions here, though it normally doesn't make sense on the newpin form. -->
<fieldset>
<!--
<legend> -->
  <!--{pininstructions}-->
<!--</legend> -->
<div class="formEntryArea">
<span class="formLabel">
<!--{pinprompt}-->
</span>
<!--{pin}-->
</div>
<div class="formEntryArea formFieldsetInner">
<fieldset>
<legend>
<!--{newpinmsg}-->
</legend>
<div class="formEntryArea">
<span class="formLabel">
<!--{pin1prompt}-->
</span>
<!--{pin1}-->
</div>
<div class="formEntryArea">
<span class="formLabel">
<!--{pin2prompt}-->
</span>
<!--{pin2}-->
</div>
</fieldset>
</div><!--formFieldsetInner -->
<div class="formButtonArea">
<!--{submit}-->
</div>
</fieldset><!--Close the pininstructions fieldset -->
</form>

</div><!--popupContentInner -->
</div><!--pageContent -->
</div><!--fullPage -->
</div><!--minHeight -->
