<div class="minHeight">
<div class="fullPage">
<div class="pageContent">
<div class="pageContentInner popupContentInner">
<!--Beginning main page content-->
<h1 class="popupFormHeading">Payment</h1>
<div id="accessibleForm" class = "popupForm form1Part">
<!--{formbegin}-->
<div class="errormessage">
<!--{error_msg}-->
</div>

<div class="msg">
<!--{declined_msg}-->
</div>

<!-- Main Page containing "left" and "right" boxes to standardize presentation of Fines and Payment info. -->
<div class="ecommerceFormOptions">
<h2>
Fees/Fines:
</h2>
<fieldset>

<div class="formButtonArea">
<!--{clearall}-->
<!--{selectall}-->
</div>

<div class="payFormFines formEntryArea">
<!--{finestable}-->
</div>

<div class="payFormTotals formEntryArea">
<div>
<!--{totalfinesprompt}-->
<!--{amount}-->
</div>
<div>
<!--{servicechargeprompt}-->
<!--{servicecharge}-->
</div>

<div>
TOTAL:
<!--{total}-->
</div>
</div>
</fieldset>
</div>

<!-- end left box -->

<!-- Begin right box; contains Patron Payment Information -->
<div class="ecommerceFormPay">

<h2>
Billing Information:
</h2>

<fieldset>

<div class="ecommerceFormEntryArea">
<label for="name"><span class="formLabel">
Name:
</span></label>
<!--{name}-->
</div>

<div class="ecommerceFormEntryArea">
<label for="address1"><span class="formLabel">
Address:
</span></label>
<!--{address1}-->
</div>

<div class="ecommerceFormEntryArea">
<label for="city"><span class="formLabel">
City:
</span></label>
<!--{city}-->
</div>

<div class="ecommerceFormEntryArea">
<label for="state"><span class="formLabel">
State:
</span></label>
<!--{state}-->
</div>

<div class="ecommerceFormEntryArea">
<label for="zip"><span class="formLabel">
Zip Code:
</span></label>
<!--{zip}-->
</div>

<div class="ecommerceFormEntryArea">
<label for="emailaddr"><span class="formLabel">
Email:
</span></label>
<!--{emailaddr}-->
</div>

<h2 class="ecommerceFormPayHead">Credit Card Information:</h2>

<div class="ecommerceFormEntryArea">
<label for="ccnum"><span class="formLabel">
Card Number:
</span></label>
<!--{ccnum}-->
</div>

<div class="ecommerceFormEntryArea">
<label for="ccexpmonth"><span class="formLabel">
Expiration:
</span></label>
<!--{ccexpmonth}-->
/
<!--{ccexpyear}-->
</div>

<div class="ecommerceFormEntryArea">
<label for="cc_cvv2"><span class="formLabel">
Security Code:
</span></label>
<!--{cc_cvv2}-->

<div class="ecommerceFormExample">
<img src="/screens/csc.gif" width="150" height="54" alt="Security Code" />
</div>

</div>
</fieldset>
</div>
<!-- end right box -->

<div class="formButtonArea">
<!--{submit}-->
<!--{cancel}-->
</div>


<!--{formend}-->
</div><!-- accessibleForm -->
<div class="clear"></div>
</div><!-- popupContentInner -->
</div><!-- pageContent -->
</div><!-- fullPage -->
</div>