<!--{toplogo}-->
<div id="bibDisplayBody">
<div align="center">
<!--{navrow}-->
</div>
<div id="bibDisplayContent">
<div class="bibSearch">
<!--{searchtool}-->
<div class="bibSearchHistory">
<!--{searchhistory}-->
</div>
</div><!-- bibSearch -->
<div class="resourcePager">
<!--{pager}-->
</div>

<div class="bibClear"></div>

<div class="bibResourceSidebar">
<!--{ifhasresourcetable}-->
<!--{resourcetable}-->
<!--{xif}-->
<!--{innreach}-->
<!--{relsearch}-->
</div>

<div class="bibDisplayJacket">
<div class="bibMedia">
<!--{media}-->
</div>
</div>

<div class="bibDisplayContentMain">

<div class="bibDisplayProgramInfo">
<!--{recordinfo:ndrx}-->
</div>
<div>
<!--{section}-->
</div>
<div>
<!--{materials}-->
</div>

<div class="bibDisplayContentMore">
<div class="bibDisplayPermLink actionButtonArea">
<!--{recordlink}-->
</div>
</div>

</div>
</div><!-- close bibDisplayContent -->
<div class="clear"></div>
</div><!-- close bibDisplayBody -->
<!--{botlogo}-->
