<!--{toplogo}-->

<div id="bibDisplayBody">
<div align="center">
<!--{navrow}-->
</div> 
<div id="bibDisplayContent">
<div class="bibSearch">
<!--{searchtool}-->
</div><!-- close tool -->
<div class="bibHistoryRow">
<div class="resourceHistory">
<!--{searchhistory}-->
</div>
</div>
<div>
<!--{pager}-->
</div>


<div class="bibClear"></div>

<div class="bibResourceSidebar">
<!--{ifhasresourcetable}-->
<!--{resourcetable}-->
<!--{xif}-->
<!--Optional INNReach resources.-->
<!--{innreach}-->
<!--{relsearch}-->
</div>

<div class="bibDisplayJacket">
<!--{bibimage}-->
<div class="bibMedia">
<!--{media}-->
</div>
</div>

<div class="resourceDisplayContentMain">


<!-- table to make display consistent with recordinfo token data -->
<table width="100%">
<tr>
<td class="resourceInfoLabel" align="left" width="30%">
Resource Home:
</td>
<td class="resourceInfoData" align="left" width="70%">
<!--{resourcelink}-->
</td>
</tr>
</table>
<!--{recordinfo:#}-->

<!--{ifhaspatrate}-->
<div class="bibDisplayRatings">
<!--{ratings}-->
</div>
<!--{xif}-->

<div class="bibDisplayPermLink actionButtonArea">
<!--{recordlink}-->
</div>

<div class="resourceDisplayLicenseHeader"><h2>License</h2></div>
<div class="resourceLicenseArea">
<!--{license}-->
</div>


<div class="clear"></div>
<div class="resourceDisplayBibs">
<!--{bib}-->
</div>

<!--{relsearch}-->

<!--{reslink}-->
</div><!-- close resourceDisplayContentMain -->
</div><!-- close bibDisplayContent -->
<div class="clear"></div>
</div><!-- close bibDisplayBody -->
<!--{botlogo}-->
