<!-- begin toplogo.html file -->
<!-- Rel 2009B Example Set -->
<!-- Updated: 06 Oct 2010 -->
<script type= "text/javascript">
if (document.body){document.body.className = "bodybg";}
</script>

<div class="minHeight">
<div class="fullPage">
		
<div id="skipNav"><a href="/search~S2"><a href="#content" tabindex="1">Skip to content</a></div>
<div class="topLogo">

<div class="topLinks">
	<ul id="topLinksList">
		<li><a href="/patroninfo~S2" tabindex="120">Login</a></li>
		<li><a href="/help" tabindex="115">Help</a></li>
		<li><a href="#" onClick="window.print();" tabindex="110"><span class="buttonTopLinks"><img src="/screens/ico_printer.gif" alt=""><span class="buttonTopLinksText">Print</span></span></a></li>
		<li><a href="/search~S2/" tabindex="105">New Search</a></li>
		<li><a href="http://www.albionlibrary.org/" tabindex="115">Home</a></li>
	</ul>
</div>

<div class="topLogoSmall">
	<a href="/" tabindex="10"><img src="/screens/main_header.jpg" height="150" width="970" alt="Catalog Home Page"></a>
</div>
</div><!--topLogo-->

<div class="topMyLibrary">
	<div id="topMyLibraryHeader"><h1>Albion District Library</h1></div>

	<ul id="toplogoMoreNav">
	<!-- Toplogo alt links. -->
	<!-- <li><a href=/"acquire">Suggest a purchase</a></li> -->
	<!-- <li><a href="/suggest">Leave Comments</a></li> -->

<!-- Dropdown menus -->
	<li id="first">
		<div><a href="/patroninfo~S2">My Account</a></div>			
		<!-- <ul> -->          
			<!-- <li><a href="/patroninfo">My Account</a></li> -->
			<!-- <li><a href="/selfreg">Create an account</a></li> -->
			<!-- <li><a href="/libinfo">About the library</a></li> -->
			<!-- <li><a href="/acquire">Suggest a purchase</a></li> -->
			<!-- <li><a href="/suggest">Comments</a></li> -->
		<!-- </ul> -->		
	</li>
	<li>
		<div><a href="/help">Help Topics</a></div>
		<ul>
			<li><a href="/help#searching">Searching</a></li>
			<li><a href="/help#searchtips">Advanced Keyword Search Tips</a></li>
			<li><a href="/help#prefsearch">Saving your searches</a></li>
			<li><a href="/help#renewals">Renewals</a></li>
			<!-- <li><a href="/help#feepay">Fee Payment</a></li> -->
			<!-- <li><a href="/help#rpro">Research Pro</a></li> -->
			<!-- <li><a href="/help#programs">Library Events and Community Programs</a></li> -->
		</ul>
	</li>

	<li id="last">
		<div><a href="#">Other Search Links</a></div>
		<ul>
			<!-- <li><a href="<encore IP/iii/encore>">Search Encore</a></li> -->
            <!-- <li><a href="/iii/calendar/month">Program Calendar</a></li> -->
            <!-- <li><a href="/ftlist">Featured Lists</a></li> -->
            <!-- <li><a href="/rpro">Research Pro</a></li> -->
            <!-- <li><a href="/search/y">Find e-resources</a></li> -->
            <li><a href="http://elibrary.mel.org/search~S15">InterLibrary Loan (MeLCat)</a></li>
            <li><a href="http://www.albionlibrary.org/resources/recent-acquisitions">New Books</a></li>
            <li><a href="http://www.mel.org/SPT--BrowseResourcesDatabases.php?ParentId=617">Online Databases</a></li>
        </ul>
    </li>
	</ul> <!-- End dropdown menus -->

<script type="text/javascript"> <!--//--><![CDATA[//><!--
//Enable optional dropdown menu for additional navigation options.
if (document.all&&document.getElementById) {
	navRoot = document.getElementById("toplogoMoreNav");
	for (i=0; i<navRoot.childNodes.length; i++) {
		node = navRoot.childNodes[i];
		if (node.nodeName=="LI") {
			node.onmouseover=function() {
				this.className+=" over";
			}
			node.onmouseout=function(){
				this.className=this.className.replace(" over", "");
			}
		}
	}
}
//--><!]]></script>

</div><!--myLibrary-->

<div class="topNavClear"></div>

<div class="searchNav">
<script language="javascript">
<!--
function GotoURL() {
	//top.location.href = dl.specializedSearch.options[dl.specializedSearch.selectedIndex].value;
	window.location.assign(document.getElementById("specializedSearch").value);
return false;
}
// -->
</script>
<div id="searchNavMenu">
	<select name="specializedSearch" id="specializedSearch">
		<option selected="selected" value=" ">(More Searches)</option>
		<option value="/search/X">Advanced</option>
		<option value="/search/t">Title</option>
		<option value="/search/s">Journal Title</option>
		<option value="/search/a">Author</option>
		<option value="/search/d">Subject</option>
		<!-- <option value="/search/y">Resource Name</option> -->
		<!-- <option value="/search/c">Call Number</option> -->
		<option value="/search/i">ISBN</option>
		<option value="/search/g">Government Document #</option>
		<option value="/search/q">Author and Title</option>
		<option value="/search/p">Instructor</option>
		<option value="/search/r">Course</option>
	</select>
	<input type="image" srch="/screens/ico_go.gif" class="searchNavBut" value="Go" onclick="GotoURL();" >
</div>

</div><!-- searchNav -->
<div class="clear"></div>
<div class="pageContent"><!-- content container -->
<a name="content" id="content"></a> <!--end toplogo.html --> 